.header {
    background: #F38F8F;
    position: sticky;
    top: 0;
}

body {
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.nav {
    margin: auto;
}

.container_header {
    display: flex;
}

.logo-img {
    margin: auto;
    padding: 22px 0 21px 0;
}

.nav_list {
    display: flex;
    list-style: none;
}

.nav_item {
    margin-right: 63px;
}

.nav_link1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #00C4F0;
    text-decoration: none;
}

.nav_link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #E4E4E4;
    text-decoration: none;
}

.hero-block {
    background: rgb(174, 228, 226);
    background: rgb(243, 143, 143);
    background: linear-gradient(180deg, rgba(243, 143, 143, 1) 1%, rgba(0, 212, 255, 1) 100%);
}

.container_hero-block {
    display: flex;
    padding: 76px 0px 67px 0px;
}

.hero-block_img {
    margin-right: auto;
    width: 650px;
    height: 564px;
}

.hero-block_content {
    width: 40%;
}

.hero-block_title {
    font-family: 'Risque';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 83px;
    display: flex;
    align-items: center;

    color: #E4E4E4;
}

.hero-block_text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;

    color: #E4E4E4;
}

.hero-block_btn {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    width: 224px;
    height: 47px;
    background: rgb(228, 174, 176);
    background: linear-gradient(90deg, rgba(228, 174, 176, 0.8519782913165266) 6%, rgba(0, 212, 255, 1) 100%);
    color: #000000;
    border-radius: 17px;
}

.skills_full {
    background: #e4f0ea;
    height: 15px;
}

.skills_done {
    background: #e0f000;
    height: 15px;
    width: 60%;
}

.skills_done2 {
    background: #d8f000;
    height: 15px;
    width: 40%;
}

.skills_done3 {
    background: #e0f000;
    height: 15px;
    width: 80%;
}

.skills_item {
    list-style: none;
}

.about {
    background: #51c5da;
    padding: 70px 0 40px 0;
}

/* .about_title {
    font-family: 'Nico Moji';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    color: #E4E4E4;
    margin: 0;
} */

.about_title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
    margin: 0;
}

.skills_title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #000000;
}

.skills_name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    display: flex;
    align-items: center;
}

.skills {
    width: 450px;
}

.about_content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}

.skills_list {
    padding: 0;
    display: flex;
    justify-self: space-between;
    flex-direction: column;
}

.about_img {
    width: 532px;
    height: 575;
    object-fit: cover;
}

.video {
    background: #00C4F0;
    padding: 70px 0 135px 0;
}

.video_title {
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    color: #e8f5f3;

}

.video_border {
    max-width: 1000px;
    width: 1000px;
    height: 600px;
    margin: 70px auto 0;
    background: linear-gradient(130.68deg, #414141 0%, #2D2D2D 100.52%);
    box-shadow: 0px 4px 15px rgba(27, 27, 27, 0.28);
    border-radius: 29px;
}

.video_container {
    max-height: 511px;
    max-width: 908px;
    margin: auto;
}

.video_content {
    height: 511px;
    width: 908px;
    margin-top: 44px;
    border-radius: 76px;
}


.gallery {
    background: #00C4F0;
    padding: 70px 0;
}


.gallery_title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    color: #E4E4E4;
    margin: 0 auto 70px;
}

.gallery_list {
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    max-width: 1200px;
    justify-content: space-between;
}

.gallery_item {
    width: 32%;
}

.gallery_img {
    width: 100%;
    height: 356;
    margin-bottom: 35px;
}

.footer {
    background: #51c5da;
    padding: 51px 0;
}

.footer_title {
    font-family: 'Nico Moji';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin: 0 0 18px;
}

.footer_text {
    font-family: 'Nico Moji';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.footer_list {
    display: flex;
    list-style: none;
    width: 250px;
    justify-content: space-between;
}
.footer_container{
    display: flex;
    justify-content:space-evenly;
}